@import './fonts';

$font-size-root: 16px;
$body-font-family : 'Metropolis', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

$color-pack: false;

@import '~vuetify/src/styles/styles.sass';

// For updating SASS lists
$material-light: map-merge($material-light, ( 'background': #fcfeff ));
